<div class="center" >

	<div class="card">
		<div class="additional">
			<div class="user-card">
				<div class="level center">
					consultar@correo.com<br>
          Av 16 de julio Nrc 8 Ciudad-Pais<br>
          (01)3453-654<br>
          (01)3233-452<br>

				</div>

			</div>
			<div class="more-info">
      <!-- TODO: Aquí adicionaremos nuestro formulario -->


<div class="form-container">

  <h1>Contanto</h1>

  <form [formGroup]="form" (ngSubmit)="save($event)">


    <select type="text" formControlName="Sexo*">
      <option disabled="">Sexo*</option>
      <option value="Masculio">Masculino</option>
      <option value="Femenino">Femenino</option>
    </select>

  <p>
    Fecha de nacimiento* <br/>
    <input type="date"   formControlName="date">
  </p>

    <input
    class="form-control"
    type="text"
    placeholder="Nombre*"
    formControlName="nombre">
    <div class="alert-danger ">
      <div class="container-error-message">
        Nombre Requerido y debe tener mimimo 3 caracteres.
      </div>
    </div>

  <div>
    <input type="text"
    placeholder="Apellidos*"
    formControlName="apellido">
  </div>

  <div>
    <input
    type="email"
    placeholder="Email*"
    formControlName="email">
  </div>


  <div>
    <input type="text"
    placeholder="Direccion*"
    formControlName="direction">
  </div>


  <div>
    <input type="text"
    placeholder="Apartamenro/casa"
    formControlName="vivienda">
  </div>

  <select type="text"
  placeholder="Pais*"
  formControlName="pais">
    <option value="Colombia">Colombia</option>
    <option value="Argentina">Argentina</option>
  </select>
  <br>
  <select type="text" formControlName="Departamento">
    <option disabled="">Departamento</option>
    <option value="Cundinamarca">Cundinamarca</option>
    <option value="Bogota">Bogota</option>
  </select>
  <br>
  <select type="text" formControlName="Ciudad">
    <option disabled="">Ciudad</option>
    <option value="Bogota">Bogota</option>
    <option value="Medellin">Medellin</option>
  </select>

  <!-- <p>
    <textarea name="comentarios" id="comentarios" cols="30" rows="10" formControlName="text">Comentarios</textarea>
    <small>{{ textField.value.length }}/80</small>
  </p>
  <div *ngIf="textField.errors && textField.touched">
    <p *ngIf="textField.hasError('required')">
      Es un campo requerido
    </p>
    <p *ngIf="textField.hasError('maxlength')">
      Te pasaste, máximo deben haber 80 caracteres.
    </p>
  </div> -->

  <button (click)="doSomething()">Action</button>
  <button type="submit" [disabled]="form.invalid">Guardar</button>
  </form>
</div>
</div>
</div>
<div class="general more-info">
<!-- TODO: Aquí adicionaremos el resultado de los datos que ingresemos al formulario -->
</div>
</div>
</div>
